.container
  .row.header-widgets.justify-content-between
    .logo
      img(src="img/logo.png", alt="")

    //- site-name
    .col-sm-auto.sitename
      | Управление физической культуры и спорта города Алматы
    //- end site-name

    //- phones
    .col-sm-auto.phones
      p
        a(href="tel: 1234567890") +7 727 264 58 41
      p
        a(href="tel: 1234567890") +7 727 264 60 98
    //- end phones

    //- comfortable-reading
    .col-sm-auto.comfortable-reading
      p Версия для
      p слабовидящих
    //- end omfortable reading

    //- social links
    .col-sm-auto.social-links
      a(href="#")
        img(src="img/vk.svg", alt="")
      a(href="#")
        img(src="img/facebook.svg", alt="")
      a(href="#")
        img(src="img/instagram.svg", alt="")
      a(href="#")
        img(src="img/youtube.svg", alt="")
    //- social links

    //- aviability system
    .col-sm-auto.aviability
      a.btn.btn-primary(href="#")
        p Система
        p прозрачности
    //- en aviability system

    //- languages choise
    .col-sm-auto.lang
      a(href="#") Рус
      a(href="#") Каз
    //- end languages choise
