//- second screen row with news and faces
.section.row
  .col-sm-8.news-slider
    .col-sm-7.news-slider__preview
      img(src="img/ball.png", alt="")
    .col-sm-5.news-slider__content
      - var n = 0
      while n < 12
        //- n++
        .news-slider__content__item
          h5.news-slider__content__item__date 24 февраля 2017
          p Крупнейшая индийская компания "Jaypee Group" заинтересована в сотрудничестве с Алматы
  
  //- projects and faces
  .col-sm-4.projects-and-faces
    .col-sm-6.projects
      h4 Наши проекты
      - var p = 0
      while p < 8
        //- p++
        a(href="#").projects__project
          img(src="img/logo.png", alt="")
          p Спорт во двор
    .col-sm-6.sportsmens
      h4 Спортсмены
      //- todo: carousel with sportsmens
      a(href="#").sportsmens__sportik
        img(src="img/sportik.jpg", alt="")
        p Никита Азаров
      .row.arrows
        a.left(href="#")
          img(src="img/left-arrow.swg", alt="")
        a.right(href="#")
          img(src="img/right-arrow.swg", alt="")
  //- end projects and faces
    