extends layouts/app.pug

block title
    | Главная

block content
    //- write structure here
    main.container
        include partials/banner.pug
        include partials/news-section.pug
        include partials/news.pug