footer.footer
  .col-md-10.to-center
    .row.carousel
      a(href="#").arrow-left.col-md-1
        img(src="img/left-arrow.svg").svg
      ul.col-md-10
        li
          p.sitename Партия Нур Отан
          a(href="#") www.nurotan.kz
        li
          p.sitename Партия Нур Отан
          a(href="#") www.nurotan.kz
        li
          p.sitename Партия Нур Отан
          a(href="#") www.nurotan.kz
        li
          p.sitename Партия Нур Отан
          a(href="#") www.nurotan.kz
        li
          p.sitename Партия Нур Отан
          a(href="#") www.nurotan.kz
      a(href="#").arrow-right.col-md-1
         img(src="img/right-arrow.svg").svg
  .footer-bottom-blue
    .container
      .info-row.row
        .col-md-4
          p Управление физичексой культуры и спорта
          p города Алматы
          p &copy; 2017 Все права защищены
        .col-md-4
          div.address
            | 05001, Казахстан, г. Алматы
            p Площадь Республики 4
            p Тел. +77272645841
            p +77272646098
        .col-md-4
          p Общие вопросы:
            a(href="info@almatysports.kz").mail   info@almatysports.kz
          p Пресса
            a(href="press@almatysports.kz").mail   press@almatysports.kz
          p
            img(src="img/my-logo.png").smartsol