$blue: #0092FA;
$footer-blue: #50C0F1;
$gray-scroll: #969696;
$bordo: #162841;
$bordo-transparent: rgba(22, 40, 66, 1);
* {
    font-size: 14px;
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 4px !important;
    }
    &::-webkit-scrollbar-track {
        background: #E9E9E9 !important;
    }
    &::-webkit-scrollbar-thumb {
        background: $gray-scroll !important;
        ;
    }
}

@mixin no-scrollbar-on-small {
    @media screen and (max-width: 560px) {
        overflow: hidden;
    }
}